<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <div class="container">
        <h1>Hello, <%= user[0].name %>!</h1>
        <a href="/logout" class="logout">Logout</a> 
        <% if(messages.messages) { %>
             <% for (var message of messages.messages) { %>
             <div class="alert-danger" role="alert"><%= message %></div>
             <% } %>
        <% } %>
        <h5>Share a Quote:</h5> 
        <form method="post" action="/create-quote">
            <input class="form-control" type="text" name="quoted_by" placeholder="Quote By">
            <textarea class="form-control" name="quote" placeholder="Quote"></textarea>
            <button type="submit" class="btn btn-primary float-right">Add Quote</button>
        </form>
        <h5>Inspirational Quotes:</h5>
        <table class="table">
            <tbody>
            <% if(quotes) { %>
                <% for (var quote of quotes){ %>
                <tr>
                    <td><strong><%= quote.quoted_by %>:</strong></td>
                    <td>"<%= quote.quote %>"</td>
                    <td>Posted By: <span><%= quote.user_name %></span></td>
                    <td>
                        <form method="POST" action="move-to-favorites">
                            <input class="quote_id" type="hidden" name="quote_id" value="<%= quote.id %>">
                            <button type="submit">Move to Favorites</button>
                        </form>                    
                    </td>
                </tr>
                    <% } %>
            <% } %>
            </tbody>
        </table> 
        <h5>Your Favorite Quotes:</h5>
        <table class="table" id="favorite_quotes">
            <tbody>
            <% if(favorite_quotes) { %>
                <% for (var favorite_quote of favorite_quotes) {%>
                <tr>
                    <td><strong><%= favorite_quote.quoted_by %>:</strong></td>
                    <td>"<%= favorite_quote.quote %>"</td>
                    <td>Posted By: <span><%= favorite_quote.user_name %></span></td>
                </tr>
                <% } %>
            <% } %>
            </tbody>
        </table> 
    </div>
</body>
</html>

